apiVersion: v1
kind: Service
metadata:
  name: store-service       # <--- THIS MUST SAY STORE-SERVICE
spec:
  selector:
    app: store-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: store-app           # <--- THIS MUST SAY STORE-APP
  labels:
    app: store-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: store-app
  template:
    metadata:
      labels:
        app: store-app
    spec:
      containers:
      - name: python-api
        image: resilient-store:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5000